<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5c35a356-576e-478d-b904-b85c97070d0a" name="Test Suite 1 - LibrePlan - Calendriers" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="5c35a356-576e-478d-b904-b85c97070d0afileName">Test-Suite-1---LibrePlan---Calendriers</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>