<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="73773d72-b972-4dda-a22f-cd14a33d987c" name="LogicalDoc - Test Suite 0 - Authentification &amp; Connexion" authProfile="Admin" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="0e911d28-63a3-4813-ad32-974e217aa0e9fileName">Test-Suite-0---LogicalDoc---Authentification</con:setting><con:setting id="73773d72-b972-4dda-a22f-cd14a33d987cfileName">LogicalDoc---Test-Suite-0---Authentification-%26-Connexion</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>