<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="1f897b01-ce98-4269-9c9d-49dceb671129" wsaVersion="NONE" name="LogicalDoc - Soap - AuthServiceServiceSoapBinding" type="wsdl" bindingName="{http://endpoint.soap.webservice.logicaldoc.com/}SoapAuthServiceServiceSoapBinding" soapVersion="1_1" anonymous="optional" definition="http://localhost:8080/logicaldoc/services/Auth?wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
    <con:settings><con:setting id="1f897b01-ce98-4269-9c9d-49dceb671129fileName">LogicalDoc---Soap---AuthServiceServiceSoapBinding</con:setting></con:settings>
    <con:definitionCache type="TEXT" rootPart="http://localhost:8080/logicaldoc/services/Auth?wsdl">
      <con:part>
        <con:url>http://localhost:8080/logicaldoc/services/Auth?wsdl</con:url>
        <con:content><![CDATA[<wsdl:definitions name="SoapAuthServiceService" targetNamespace="http://endpoint.soap.webservice.logicaldoc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://endpoint.soap.webservice.logicaldoc.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://ws.logicaldoc.com">
  <wsdl:import location="http://localhost:8080/logicaldoc/services/Auth?wsdl=Auth.wsdl" namespace="http://ws.logicaldoc.com"></wsdl:import>
  <wsdl:binding name="SoapAuthServiceServiceSoapBinding" type="ns1:Auth">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="valid">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="valid">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="logout">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="logoutResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renew">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="renew">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="renewResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="login">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoapAuthServiceService">
    <wsdl:port binding="tns:SoapAuthServiceServiceSoapBinding" name="SoapAuthServicePort">
      <soap:address location="http://localhost:8080/logicaldoc/services/Auth"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>]]></con:content>
        <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
      </con:part>
      <con:part>
        <con:url>http://localhost:8080/logicaldoc/services/Auth?wsdl=Auth.wsdl</con:url>
        <con:content><![CDATA[<wsdl:definitions name="Auth" targetNamespace="http://ws.logicaldoc.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://ws.logicaldoc.com">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.logicaldoc.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.logicaldoc.com">
      <xs:element name="login" type="tns:login"/>
      <xs:element name="loginResponse" type="tns:loginResponse"/>
      <xs:element name="logout" type="tns:logout"/>
      <xs:element name="logoutResponse" type="tns:logoutResponse"/>
      <xs:element name="renew" type="tns:renew"/>
      <xs:element name="renewResponse" type="tns:renewResponse"/>
      <xs:element name="valid" type="tns:valid"/>
      <xs:element name="validResponse" type="tns:validResponse"/>
      <xs:complexType name="valid">
        <xs:sequence>
          <xs:element minOccurs="0" name="sid" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="logout">
        <xs:sequence>
          <xs:element minOccurs="0" name="sid" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="logoutResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="renew">
        <xs:sequence>
          <xs:element minOccurs="0" name="sid" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="renewResponse">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="login">
        <xs:sequence>
          <xs:element minOccurs="0" name="username" type="xs:string"/>
          <xs:element minOccurs="0" name="password" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="loginResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Exception" type="tns:Exception"/>
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="valid">
    <wsdl:part element="ns1:valid" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="renewResponse">
    <wsdl:part element="ns1:renewResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="validResponse">
    <wsdl:part element="ns1:validResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="logout">
    <wsdl:part element="ns1:logout" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part element="ns1:logoutResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part element="ns1:loginResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="renew">
    <wsdl:part element="ns1:renew" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="login">
    <wsdl:part element="ns1:login" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="ns1:Exception" name="Exception"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Auth">
    <wsdl:operation name="valid">
      <wsdl:input message="ns1:valid" name="valid"></wsdl:input>
      <wsdl:output message="ns1:validResponse" name="validResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input message="ns1:logout" name="logout"></wsdl:input>
      <wsdl:output message="ns1:logoutResponse" name="logoutResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renew">
      <wsdl:input message="ns1:renew" name="renew"></wsdl:input>
      <wsdl:output message="ns1:renewResponse" name="renewResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="ns1:login" name="login"></wsdl:input>
      <wsdl:output message="ns1:loginResponse" name="loginResponse"></wsdl:output>
      <wsdl:fault message="ns1:Exception" name="Exception"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>]]></con:content>
        <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
      </con:part>
    </con:definitionCache>
    <con:endpoints>
      <con:endpoint>http://localhost:8094/logicaldoc/services/Auth</con:endpoint>
    </con:endpoints>
    <con:environmentSpec><con:entry environmentId="Default"><con:authProfile>Admin</con:authProfile></con:entry></con:environmentSpec>
    
    
    
  </con:interface>