<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="a1c96a8e-f527-4d0f-a382-f4be577d1dc8" name="LogicalDoc" type="rest_ex" wadlVersion="https://swagger.io/openapiv3/specification" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="a1c96a8e-f527-4d0f-a382-f4be577d1dc8fileName">LogicalDoc</con:setting></con:settings><con:definitionCache type="TEXT" rootPart="Librêplan.json"><con:part><con:url>Librêplan.json</con:url><con:content>{"openapi":"3.0.1","info":{"title":"Librêplan","description":"","version":"1.0.0"},"servers":[],"paths":{}}</con:content><con:type>https://swagger.io/openapiv3/specification</con:type></con:part></con:definitionCache><con:endpoints/></con:interface>